{% extends 'base.html' %}

{% block title %}Bulletin Board - {{page_title}} {% endblock title %}

{% block content %}
    <h2> {{ page_title }}</h2>
    <ul>
        {% for author in authors %}
        <li>
            {{ author.name }}    
            <button>
                <a href="{% url 'delete_author' author.id %}">Delete</a>
            </button>
        </li>
        {% empty %}
        <li> There aren't any current authors yet.</li>
        {% endfor %}
    </ul>
    <br>
    <br>
    <button>
    <a href="{% url 'create_post' %}"> Return to create post</a>
    </button>
{% endblock content %}